%main#main
  / ======= Breadcrumbs =======
  %section#breadcrumbs.breadcrumbs
    .container
      .d-flex.justify-content-between.align-items-center
        %h2 About
        %ol
          %li
            = link_to 'Home', root_path
          %li About
  / End Breadcrumbs
  / ======= About Section =======
  %section#about.about
    .container
      .row.content
        .col-lg-6
          %h2
            創造する × 建築する
            %br
            Let's Create Your Life
          %h3
            自然素材・無垢・FB工法
            %br
            介護リフォームにこだわる工務店
        .col-lg-6.pt-4.pt-lg-0
          %p
            　AIO JAPANは、姫路を中心に新築はもちろん、リフォーム、古民家再生、学校校舎までも手掛ける総合建築工務店. 常にお客様の想いに寄り添い、理想をカタチにすることをお客様と共に努力していきます.
          %ul
            %li
              %i.bx.bx-navigation
              素材を生かしたデザイン
            %li
              %i.bx.bx-navigation
              想いにこだわる
            %li
              %i.bx.bx-navigation
              オリジナルを創り上げる
          %p
            幅広い層のお客様からの経験を活かし、さらに新しい安心と快適な “建築と暮らし” を提供させていただきます.
  / End About Section
  / ======= Team Section =======
  %section#team.team.section-bg
    .container
      .section-title
        %h2 会社案内
      .row
        .col-lg-5
          .member.d-flex.align-items-start
            .pic
              %img.img-fluid{:alt => "", :src => "/img/owner.jpeg"}/
            .member-info
              %h4 藤本　勝美　
              %span 代表取締役
              %p 一級建築士
              %p 一級施工管理士
        .col-lg-7
          .company
            %h4 会社概要
            %p 一級建築士事務所／一級建築士登録222928号
            .row
              .col-md-4
                %p 社名
              .col-md-8
                %span AIO JAPAN 株式会社
            .row
              .col-md-4
                %p 代表者
              .col-md-8
                %span 代表取締役  藤本 勝美
            .row
              .col-md-4
                %p 資格
              .col-md-8
                %span
                  一級建築士
                  %br
                  一級施工管理士
                  %br
                  既存住宅現況検査技術者
                  %br
                  看護師
                  %br
                  ケアマネージャー
            .row
              .col-md-4
                %p 業種
              .col-md-8
                %span
                  総合建築
                  %br
                  設計
                  %br
                  施工
                  %br
                  デザイン
                  %br
                  リフォーム
                  %br
                  介護に関するリフォームアドバイス
            .row
              .col-md-4
                %p 主な取引先
              .col-md-8
                %span
                  永森建築事務所
                  %br
                  ㈱ヤマシタコーポレーション
            .row
              .col-md-4
                %p 事務所
              .col-md-8
                %span
                  〒670-0065
                  %br
                  兵庫県姫路市上手野338-2
                  %br
                  079-299-5390
                  %br
                  9：00～18：00 (不定休)
