%main#main
  / ======= Breadcrumbs =======
  %section#breadcrumbs.breadcrumbs
    .container
      .d-flex.justify-content-between.align-items-center
        %h2 Privacy Policy
        %ol
          %li
            = link_to 'Home', root_path
          %li 個人情報保護方針
  / End Breadcrumbs
  / ======= Privacy Section =======
  %section#contact.contact
    .container
      %div.privacy
        %h3 個人情報保護方針
        %p 　有限会社　フジモトコーポレーション（以下、弊社といいます）では、「個人情報の保護に関する法律」に基づき、以下の事項を「公表」いたします。
        %h5 1. 個人情報の収集
        %p お客様から直接書面に掲載された個人情報を取得する場合はその都度、お客様に利用目的を明示させていただきます。それ以外で個人情報を取得する場合は、次の利用目的の制限の範囲内で取り扱わせていただきます。
        （１）お客様に適した情報を郵送・メール等でお届けする。
        %br
        （２）イベント等の登録処理。
        %br
        （３）お問合せの応対。
        %h5 2. 第三者への開示
        %p 取得した個人情報は、お客様の事前の同意なく第三者に対して開示することはありません。　ただし次の場合は除きます。
        %p（１）法令に基づく場合。
        %p（２）人の生命、身体及び財産の保護のために緊急の必要性がある場合。
        %p（３）協力会社と提携して業務を行う場合（協力会社に対しても適切な管理を要求します）。
        %h5 3. 個人情報の使用
        ご登録いただいた個人情報は、以下の目的で使用します。
        %p
        （１）現場見学会や来社ご相談時等にお客様への住宅プランの提供に際し、ご希望の住宅が建築可能か、敷地調査等確認や準備、お客様へのご連絡を取らせていただくため。
        %br
        （２）弊社から、お客様に弊社のキャンペーンや、見学会・イベントなどの情報を電子メールや郵便物等でご提供させていただくため。
        %h5 4. 開示・訂正・削除
        （１）お客様の自己の情報について照会を希望される場合、所定の手続きに基づき開示します。
        （２）その結果誤りなどを指摘され、訂正または削除をご希望される場合は、これに応じます。
        %h5 5. 安全管理
        %p 個人情報保護に関して適用される法令、規範を遵守し、安全管理のための必要かつ適切な措置を行います。
        %h5 6. 個人情報の取扱いに関する窓口
        %p 弊社の個人情報の取り扱いに関する苦情については、下記までお申し出ください。
        %br
        お電話の場合：079-299-5390
        %br
        お手紙による場合：兵庫県姫路市上手野338-2
        %br
        メールによる場合：info@f-copo.com
