AIO JAPAN のHPより、メッセージを受信しました。
%br
%br
  ="〈名前〉 #{@contact.name}"
%br
%br
  ="〈Email〉 #{@contact.email}"
%br
%br
  ="〈subject〉 #{@contact.subject}"
%br
%br
  ="〈内容〉 #{@contact.text}"
%br
%br
HP へはこちらから
=link_to "AIO. JAPAN", root_url
