
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.privacy {
  color: #556270;
  // font-family: "Open Sans", sans-serif;
  padding: 50px 70px;
  margin: 0 40px ;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.privacy h3 {
  text-align: center;
  margin-bottom: 30px;
}

.privacy h5 {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: 15px 0 5px 0;
}

.privacy p {
  margin: 0;
}
