/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header .logo-h1 {
  font-size: 28px;
  margin: 0;
  padding-left: 5px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  // text-align: center;
}
#header .logo-h1 a {
  color: #556270;
  text-decoration: none;
}

#header .contact-info {
  align-items: center;
}

#header .contact-info a {
  line-height: 1;
  color: #556270;
  text-decoration: none;
  margin: 0;
  transition: 0.3s;
}

#header .contact-info a:hover {
  color: #e1444d;
}

#header .contact-info i {
  color: #4169e1;
  padding-right: 4px;
}

#header .contact-info i.bx.bxs-phone {
  margin-left: 5px;
}

@media (max-width: 1366px) {
  #header .contact-info {
    padding-left: 30px;
  }
  #header .contact-info i.bx.bxs-envelope {
    margin-left: 20px;
  }
  #header .contact-info i.bx.bxs-phone {
    margin-left: 20px;
  }
}
/*--------------------------------------------------------------
# Message
--------------------------------------------------------------*/
#message {
  transition: all 0.5s;
  z-index: 980;
  top: 105px;
  margin-bottom: 0;
}

#message.message-scrolled {
  top: -40px;
}
/*--------------------------------------------------------------
# Privacy
--------------------------------------------------------------*/
.privacy {
  color: #556270;
  // font-family: "Open Sans", sans-serif;
  padding: 50px 70px;
  margin: 0 40px ;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.privacy h3 {
  text-align: center;
  margin-bottom: 30px;
}

.privacy h5 {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: 15px 0 5px 0;
}

.privacy p {
  margin: 0;
}
@media (max-width: 768px) {
  .privacy {
    color: #556270;
    // font-family: "Open Sans", sans-serif;
    padding: 30px 30px 50px 30px;
    margin: 0;
  }
  .privacy h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .privacy h5 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    margin: 15px 0 5px 0;
  }
  .privacy p {
    margin: 0;
    font-size: 14px;
  }
}
/*--------------------------------------------------------------
# Works
--------------------------------------------------------------*/
.read_more a {
  transition: 0.3s;
  color: #556270;
  text-align: right;
}
.read_more:hover a {
  color: #4169E1;
  text-decoration: none;
}
.read_more h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}

// .read_more i {
//   font-size: 20px;
//   font-weight: 700;
//   float: right;
  // padding: 0 0 0 0;
  // margin: 0 0 15px 0;
// }
// .read_more i::before {
//   content: "Read More";
//   font-family: "Poppins", sans-serif;
// 	display: inline-block;
//   font-size: 20px;
//   font-weight: 700;
//   padding: 0 0 0 0;
//   margin: 0 0 15px 0;
// }
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.company {
  position: relative;
  box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
  padding: 30px;
  border-radius: 4px;
  color: #556270;
  background: white;
  font-family: 'Osaka',sans-serif;
}

.company h4 {
  font-weight: 500;
  color: #556270;
}
.company .row {
  margin-bottom: 3px;
}
.company .row p {
  font-weight: 500;
  font-size: 14px;
}

.company .row span {
  color: #444444;
  font-size: 14px;
}

.company .row p::after {
  content: '';
  position: absolute;
  display: block;
  margin: 2px 0;
  width: 160px;
  height: 1px;
  background: #dee2e6;
  bottom: 0;
  left: 15px;
}
@media (max-width: 768px) {
  .company .row p {
    margin: 15px 0 0 0;
  }
}
// #portfolio-details .container.margin-20 {
//   margin: 20px 30;
// }
.back_to a {
  transition: 0.3s;
  color: #556270;
}
.back_to:hover a {
  color: #4169E1;
  text-decoration: none;
}
.back_to h3 {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}


.footer-info a {
  color: #ffffff;
  text-decoration: none;
}
